.browse-container {
    padding: 80px 20px 20px;

    & .subtitle-container {
        max-width: 1330px;
        // width: 100%;
        color: $clr1;
        font-family: 'arimo-bold';
        font-size: rem(16px);
        padding: 5px 0px;
        margin-top: 26px;
        border-bottom: 1px solid $clr6;
    }
}
