.user-info {
    padding: 80px 20px 0;
}

.preview-container {
    min-width: 80%;

    & .list-header {
        padding: 10px 0;
        border-bottom: 1px solid #383838;
    }

    & .preview-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
        grid-template-rows: repeat(auto-fill, minmax(290px, auto));
        // grid-template-columns: repeat(auto-fill, 200px);
        gap: 20px;
        padding-top: 20px;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    & .preview {
        letter-spacing: normal;

        & .title {
            color: $clr1;
            font-family: "arimo-bold";
            font-size: rem(16px);
            line-height: 24px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-top: 16px;

            &.album {
                font-size: rem(14px);
            }
        }
        & .album-date {
            margin-top: 5px;
            font-size: rem(14px);
        }

        & .description {
            font-size: rem(14px);
            line-height: 19px;
            white-space: normal;
            margin-top: 4px;
        }

        & img {
            height: 200px;
            width: 200px;
            object-fit: cover;
        }
    }

    & .navigation-container {
        margin-inline-start: auto;

        & .material-icons {
            font-size: rem(20px);

            &:hover {
                cursor: pointer;
                color: $clr1;
            }
        }

        & :first-child {
            margin-inline-end: 20px;
        }
    }
}
