.user-info {
    padding: 80px 20px 0;

    & h1 {
        font-size: rem(50px);
        text-transform: capitalize;
        margin: 20px 0;
    }
}

.preview-container {
    // min-width: 80%;
    width: 100%;

    & .list-header {
        max-width: 1300px;
        padding: 10px 0;
        border-bottom: 1px solid #383838;
    }

    & h1 {
        font-size: rem(50px);
        text-transform: capitalize;
        margin: 20px 0;
    }

    & .preview-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
        // grid-template-columns: repeat(auto-fill, 200px);
        grid-auto-rows: 290px;
        // grid-template-rows: repeat(auto-fill, minmax(290px, auto));
        // grid-template-rows: repeat(auto-fill, minmax(290px, auto));
        gap: 20px;
        padding-top: 20px;

        &.browse-grid {
            grid-template-columns: repeat(auto-fill, minmax(100px, 250px));

            & img {
                width: 250px;
                height: 250px;
            }
        }
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    & .preview {
        flex-direction: column;
        letter-spacing: normal;

        & .title {
            color: $clr1;
            font-family: "arimo-bold";
            font-size: rem(16px);
            line-height: 24px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-top: 16px;

            &.album {
                font-size: rem(14px);
            }
        }
        & .album-info {
            margin-top: 5px;
            font-size: rem(14px);
        }

        & .description {
            font-size: rem(14px);
            line-height: 19px;
            white-space: normal;
            margin-top: 4px;
        }

        .preview-img-container {
            position: relative;
        }

        & img {
            height: 200px;
            width: 200px;
            object-fit: cover;
        }

        & .preview-play-container {
            position: absolute;
            height: 200px;
            width: 200px;
            background-color: #000000bd;
            top: 0;

            .play-btn-container {
                border-radius: 50%;
                border: 1px solid $clr4;
                padding: 5px;

                & .material-icons {
                    font-size: rem(50px);
                }
            }
        }
    }

    & .navigation-container {
        margin-inline-start: auto;

        & .material-icons {
            font-size: rem(20px);
        }

        & :first-child {
            margin-inline-end: 20px;
        }
    }
}
