.playlist-container {
    padding: 80px 20px 0px;

    img {
        width: 250px;
        margin-inline-end: 25px;
    }

    & .playlist-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        & .uppercase {
            font-size: 12px;
            color: $clr1;
            letter-spacing: 1px;
        }

        h1 {
            color: $clr1;
            font-size: rem(48px);
        }

        .description {
            margin: 8px 0;
            font-size: rem(14px);
        }
        .total-songs {
            font-size: rem(14px);
        }
    }

    .list-header {
        align-items: center;
        min-height: 45px;
        width: 100%;
        padding: 5px 20px;
        border-bottom: 1px solid #383838;
        margin-top: 20px;

        &.playlist div {
            max-width: 31%;
        }

        & div {
            width: 100%;
            margin-inline-end: 10px;
        }

        & .material-icons {
            cursor: default;
            font-size: rem(22px);

            &:hover {
                color: unset;
            }
        }

        & .track-number {
            width: 30px;
        }
    }

    .tracks {
        color: $clr1;
        padding: 14px 20px;
        border-bottom: 1px solid #383838;
        // height: 47px;

        &.playlist div,
        &.album div,
        &.single div,
        &.playlist a {
            display: flex;
            align-items: center;
            height: 20px;
            width: 100%;
            font-size: rem(14px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &:last-child {
                width: 40px;
            }
            &:not(:last-child) {
                margin-inline-end: 10px;
            }

            &.track-number {
                width: 30px;
            }
        }

        &.playlist div,
        &.playlist a {
            max-width: 31%;
        }

        &.playlist a:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }

    .copyright-container {
        padding: 10px 15px 0px;

        & small:first-child {
            margin-bottom: 5px;
        }
    }
}
