.playlist-container {
    padding: 80px 20px 0px;

    img {
        width: 250px;
        margin-inline-end: 25px;
    }

    & .playlist-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        & .uppercase {
            font-size: 12px;
            color: $clr1;
            letter-spacing: 1px;
        }

        h1 {
            color: $clr1;
            font-size: rem(48px);
            margin-top: 10px;
        }

        .description {
            margin: 8px 0;
            font-size: rem(14px);
        }
        .total-songs {
            font-size: rem(14px);
        }

        & .artist-link-container {
            font-size: rem(14px);
            margin: 10px 0px;

            & a {
                color: $clr1;
            }
        }
    }

    .content {
        display: grid;
        position: relative;
        grid-template-rows: 40px;
        grid-gap: 10px;
        align-items: center;
        border-bottom: 1px solid #383838;
        font-size: rem(14px);
        padding: 0px 20px 0px 50px;

        &.playlist {
            grid-template-columns: 1fr 270px 1fr 40px;
        }

        &.album {
            grid-template-columns: 40px 1fr 40px;
        }

        &.header {
            margin-top: 20px;

            & div {
                text-transform: uppercase;
            }

            & .material-icons {
                font-size: rem(18px);
                width: 40px;

                &:hover {
                    cursor: default;
                    color: unset;
                }
            }
        }

        &.main {
            font-family: "arimo-semi-bold";
            color: $clr1;

            &.play {
                color: $clr3;

                & :last-child {
                    color: $clr3;
                }
            }

            &:last-child {
                margin-bottom: 20px;
            }

            & div,
            a {
                font-size: rem(13.5px);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                height: 100%;

                &:last-child {
                    color: $clr4;
                    line-height: 40px;
                }
            }

            a {
                line-height: 40px;
            }

            &:hover {
                background-color: #232323;
            }

            .play-btn-container {
                height: 30px;
                width: 30px;
                position: absolute;
                margin-inline-start: 10px;

                & .material-icons {
                    height: 100%;
                    width: 100%;
                    padding: 5px;
                    border-radius: 50%;
                    border: 1px solid $clr4;
                    font-size: rem(18px);

                    &.play {
                        border: unset;
                        border-radius: unset;
                        color: $clr1;

                        &:hover {
                            border-radius: 50%;
                            border: 1px solid $clr4;
                        }
                    }
                }
            }

            .track-name {
                justify-content: space-between;

                * {
                    display: block;
                }

                & :first-child {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                & :nth-child(2) {
                    color: #3b3b3b;
                    text-transform: uppercase;
                    border: 1px solid #3b3b3b;
                    padding: 3px 5px;
                    font-size: rem(10px);
                    border-radius: 3px;
                    margin-inline-end: 5px;
                }
            }

            &.album {
                .play-btn-container {
                    // width: 30px;
                    position: relative;
                    margin-inline-start: unset;
                }
            }
        }
    }

    .copyright-container {
        padding: 10px 15px 0px;
        margin-bottom: 20px;

        & small:first-child {
            margin-bottom: 5px;
        }
    }
}
