input {
    height: 40px;
    width: 100%;
    resize: none;
    border-radius: 500px;
    border: 1px solid black;
    font-family: inherit;
    font-size: rem(14px);
    line-height: 16px;
    letter-spacing: normal;
    text-overflow: ellipsis;
    padding: 6px 48px;
}

.search-bar-icon {
    background-image: url(~@/assets/icons/search.svg);
    background-repeat: no-repeat;
    background-position: 6px 6px;
    background-size: 24px 27px;
    position: absolute;
    height: 30px;
    width: 30px;
    margin-inline-start: 10px;
}

// @include for-mobile-wide-layout {
//     input {
//         min-width: 200px;
//     }
// }
