@font-face {
    font-family: arimo;
    src: url("~@/assets/fonts/Arimo-Regular.ttf") format('trueType');
}

@font-face {
    font-family: arimo-bold;
    src: url("~@/assets/fonts/Arimo-Bold.ttf") format('trueType');
}

@font-face {
    font-family: arimo-semi-bold;
    src: url("~@/assets/fonts/Arimo-SemiBold.ttf") format('trueType');
}

// @font-face {
//     font-family: barlowsemibold;
//     src: url(../../assets/fonts/Barlow-SemiBold.ttf);
// }
