// Colors

$clr1: #ffffff;
$clr2: #191414;
$clr3: #1db954;
$clr4: #b3b3b3; // txt color
$clr5: #121212; //app background
// $clr6: #181818; // player bg
// $clr6: #282828; // player border 1px solid

// Breakpoints

$mobile-narrow-breakpoint: 375px;
$mobile-wide-breakpoint: 460px;
$tablet-breakpoint: 720px;
$tablet-wide-breakpoint: 1000px;
$normal-breakpoint: 1200px;
$wide-breakpoint: 1440px;
$wider-breakpoint: 1680px;
