.browse-category-name-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;

    & div {
       position: relative;
       top: 60px;
       color: $clr1; 
    }
}
