.cmps-nav-bar {
    & :first-child {
        margin-inline-end: 20px;
    }

    div {
        position: relative;
        max-width: 150px;
        width: fit-content;
        text-transform: uppercase;
        font-family: "arimo-bold";
        font-size: rem(13.5px);
        letter-spacing: 1px;
        cursor: pointer;
    }

    .active {
        color: $clr1;

        &::after {
            content: "____";
            position: absolute;
            color: transparent;
            top: 6px;
            right: calc(50% - 17px);
            border-bottom: 3px solid #1db954;
            border-radius: 2px;
        }
    }
}
