.nav-bar-container {
    padding: 10px 0px;
    align-items: center;
    position: fixed;
    margin-inline-start: 10px;
    // background-color: rgba(16, 16, 16, 0.82);
    // background-image: linear-gradient(rgb(0, 0, 0), $clr6);
}
