.nav-bar-container {
    padding: 10px 20px;
    position: fixed;
    width: calc(100% - 210px);
    // margin-inline-start: 10px;
    background-color: rgba(16, 16, 16, 0.82);
    // background-image: linear-gradient(rgb(0, 0, 0), $clr6);
    z-index: 10;

    &-contents {
        width: 100%;
        align-items: center;
    }
}
