.player-container {
    height: 85px;
    grid-area: player;
    background-color: #232323;
    // background-color: #181818;

    & .track-name {
        color: $clr1;
        font-size: 14px;
        margin-bottom: 8px;
    }
}

.track-info-container {
    max-width: 210px;
    width: 100%;
    padding: 15px;
    white-space: nowrap;
}



.artist-name {
    font-size: 12px;
}

.btns-container :not(:last-child) {
    margin-inline-end: 25px;
}

.play-btn-container {
    border-radius: 50%;
    border: 1px solid $clr5;
    padding: 5px;

    &:hover {
        border: 1px solid $clr1;
        transform: scale(1.2);
    }
}

.material-icons {
    cursor: pointer;
    color: $clr5;

    &:hover {
        color: $clr1;
    }
}

.progress-bar-container {
    width: 60%;
    font-size: 14px;
    justify-content: space-between;
}
