.player-container {
    height: 85px;
    grid-area: player;
    background-color: #232323;
    // background-color: #181818;

    & .track-name {
        color: $clr1;
        font-size: rem(14px);
        margin-bottom: 8px;
    }

    .track-info-container {
        position: fixed;
        height: 85px;
        max-width: 210px;
        width: 100%;
        padding: 15px;
        white-space: nowrap;
        bottom: 0;
    }

    .artist-name {
        font-size: 12px;
    }

    .btns-container :not(:last-child) {
        margin-inline-end: 25px;
    }

    .play-btn-container {
        border-radius: 50%;
        border: 1px solid $clr4;
        padding: 5px;
        .material-icons {
            color: $clr1;
        }
        &:hover {
            border: 1px solid $clr1;
            transform: scale(1.2);
        }
    }

    .material-icons {
        font-size: rem(20px);
        color: $clr4;
        cursor: default;

        &:hover {
            color: $clr1;
        }

        &.active {
            color: $clr3;
            &::after {
                content: '.';
                position: relative;
                bottom: -2px;
                right: 18px;
                font-weight: 800;
            }
        }
    }

    .progress-bar-container {
        width: 50%;
        font-size: rem(12px);
        justify-content: space-between;
        margin-top: 13px;

        div:nth-child(odd) {
            line-height: 1px;
        }

        .slider-container {
            margin: 0px 20px;
            width: 100%;
            border-radius: 4px;
            height: 5px;
            background-color: #3a3838;
            position: relative;

            .slider {
                appearance: none;
                -webkit-appearance: none;
                position: absolute;
                background-color: transparent;
                width: 100%;
                height: 100%;
                margin: unset;
                z-index: 2;

                &:focus {
                    outline: none;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    position: relative;
                    width: 12px;
                    height: 12px;
                    color: $clr1;
                    background: $clr1;
                    border-radius: 50%;
                    opacity: 0;
                    z-index: 2;
                }

                &:hover::-webkit-slider-thumb {
                    opacity: 1;
                }
            }

            .progress-bar {
                position: absolute;
                border-radius: 4px;
                height: 5px;
                z-index: 1;
            }
        }
    }
}
