.side-bar-container {
    background-color: $clr2;
    width: 210px;
    height: 100%;
    grid-area: side-bar;

    & h1 {
        height: 60px;
        line-height: 60px;
        color: $clr4;
        text-align: center;
    }

    a {
        margin-bottom: 15px;

        &:first-child {
            margin-top: 15px;
        }

        div {
            display: flex;
            align-items: center;
            width: 100px;
        }

        .material-icons {
            font-size: 30px;

            &.inventory {
                font-size: 26px;
                margin: 0 2px;
            }

            &.sensors {
                font-size: 28px;
                margin: 0 1px;
            }
        }

        .material-icons + span {
            font-family: "arimo-bold";
            font-size: rem(14px);
            line-height: 30px;
            margin-inline-start: 15px;
        }
        &:hover {
            text-decoration: none;
            color: $clr1;
        }
        &.router-link-active {
            color: $clr1;
        }
    }
}
